.messenger {
    min-height: 100vh;
    overflow-x: hidden;
}

.messenger__logo {
    margin: 0 auto;
    text-align: center;
    position: relative;
    right: 40px; 
}

.logo {
    z-index: 5;
    position: fixed;
    top: 40px;
    width: 80px;
    height: 80px;
}

.messenger__form {
    position: fixed;
    bottom: 0;
    background-color: #e9e9eb;
    padding: 10px;
    width: 100%;
    z-index: 5;
    box-sizing: border-box;
}

.messenger__formControl {
    display: flex !important;
    flex-direction: row !important;
}

.messenger__input {
    flex: 1;
    border: none;
    outline: none;
    padding: 20px;
}
